.card {
	padding: 20px;
	border-radius: var(--border-radius);
	background-color: var(--card-color);
	margin-bottom: 20px;
	font-size: 13px;
	box-shadow: var(--box-shadow);
}

.card__header {
	display: flex;
	align-items: center;
}

.card__image {
	display: grid;
	place-content: center;
	background-color: var(--image-color);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 30px;
	font-size: 30px;
}

.card__name {
	font-size: 22px;
	margin-bottom: 5px;
}

hr {
	margin: 15px 0;
	opacity: 0.5;
}

.card__body {
	display: flex;
	margin-bottom: 10px;
}

.card__body__label {
	flex: 0 0 100px;
	font-weight: bold;
}

.card__body__value {
	flex: 1;
}

.card__footer {
	text-align: center;
}

.card__footer > h3 {
	margin-bottom: 5px;
}

.card__body__value,
.card__username,
.card__footer > p {
	color: var(--text-secondary-color);
}

@media screen and (min-width: 600px) {
	.card {
		font-size: 16px;
	}
	.card__name {
		font-size: 25px;
	}
}
