.app {
	margin: 30px 15px;
}

.app__search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--border-radius);
	background-color: white;
	margin-bottom: 30px;
	padding: 15px 20px;
	box-shadow: var(--box-shadow);
	overflow: hidden;
}

.app__searchInput {
	border: none;
	outline: none;
	flex: 1;
	margin-left: 15px;
	font-size: 13px;
}

.app__searchIcon {
	width: 20px;
}

@media screen and (min-width: 600px) {
	.app {
		max-width: 600px;
		margin: 30px auto;
	}
	.app__searchInput {
		font-size: 16px;
	}
}
